.container {
    width: 90%;
    margin: auto;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    background: -webkit-linear-gradient(180deg, #0F172A, #8455FF);
    width: 500px;
    justify-items: center;
}

a {
    color: white;
}