<div class="container">
    <p>Olá Seja muito bem vindo...</p>
    <br />
    <br />
    <p>Semana Passada tivemos uma Intensivão de Java Spring com <b>Nelio</b></p>
    <br />
    <p>Fizemos uma API de listagem de Jogos...</p>
    <p>Já Aproveitando fiz um FrontEnd em Angular 19.</p>
    <br />
    <p>O BackEnd esta no <b>"Render"</b> esta maquina fica em standby, ao receber uma requisição ele demora um pouco pra subir...</p>
    <p>então ao tentar listar os jogos pode ser uma demora ate a maquina responder rs...</p>
    <br />
    <br />
    <p><b>Paulo H Grande....</b></p>
</div>
